

.a{
  color: #00A400 ;
  }
.b{
 color:#fdf497;
}
header>img{
    display:inline-block;
   max-height:25px;
    width:auto;
    opacity:0;
}
header {
    z-index:3;
	position: fixed;
	top:0;
    right:0;
	transition: all .3s linear;
  }
header.slide {
	transform: translateY(-100%);
}
nav{
    display:inline-block;
 background: #e901eb;
background: -webkit-linear-gradient(45deg, #e901eb, #6011e1, #2de9e4);             
background: linear-gradient( 45deg, #e901eb, #6011e1, #2de9e4);
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
 margin-bottom: auto;
 font-family: 'Segoe UI';
    font-weight: bold;
    font-style: normal;
	border-left-radius:7vmin;
            }
                
li:empty{
    width: 3vh;
    background:none !important;         
}
nav a{  
    font-size:2vmin;
     padding: 4vmin 1vmin;
  color: #fff;
  text-decoration: none;
      }

.menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  height: inherit;
 overflow:hidden;     
  }

#menu ul {
  position: absolute;
   background:#cfc;
list-style: none;
    margin-top:-2px;
   border-top:2px solid #00A400;
    border-bottom:1px solid #fff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
             }

#menu>li{ 
    background:radial-gradient(#00A400, #00A400) 50% 100% no-repeat;
	background-size:0 2px;
	 text-decoration:none;
           transition:all .3s ease-out;   
      margin:0 1vmin -2px;
}

#menu li li{
border-left-style:solid;	
border-left-color:transparent;
border-left-width: 3px;
transition: border-left-color 0.5s ease-out;
}

li ul li{
    display:flex;
   justify-content: left;
    align-items: center; 
	margin-top:3px;
      }

ul ul li:nth-child(1):before{
    content:url(../gallery/1min.webp);}
ul ul li:nth-child(2):before{
content:url(../gallery/2min.webp);}
ul ul li:nth-child(3):before{
content:url(../gallery/3min.webp);}
ul ul li:nth-child(4):before{
content:url(../gallery/4min.webp);}
ul ul li:nth-child(5):before{
content:url(../gallery/5min%20.webp);}

 .triangle:after {
    content: ''; 
    position: absolute; 
    right:50%;
    top:-12px; 
    border: 5px solid transparent; 
    border-bottom: 5px solid #00A400; 
   }

(#menu>li:not(#menu>li:first-of-type)):hover{
    background-color:none !important;
}

