 .sidenav {
   position:fixed; 
  z-index: 3; 
   overflow-x: hidden; 
   flex-flow:column wrap;
    text-align: center;
   padding:3vmin;
    border-radius: 0 0 3px 3px ;
box-shadow: 0px 0px 46px 4px rgba(255,0,0,0.36) inset;
-webkit-box-shadow: 0px 0px 46px 4px rgba(255,0,0,0.36) inset;
-moz-box-shadow: 0px 0px 46px 4px rgba(255,0,0,0.36) inset;
            }

.sidenav a {
  text-decoration: none;
  font-size: 3vmin;
  display: block;
     }

.sidenav li:not(:first-child,:nth-child(2),:last-child){
  box-shadow: 0px -5px 5px -5px rgba(255, 255, 255, 0.31) inset, 0px 5px 5px -5px rgba(255, 255, 255, 0.6) inset;
    }
.sidenav li:nth-child(2){
 box-shadow:0px -5px 5px -5px rgba(255, 255, 255, 0.31) inset;
}
.sidenav li:last-child{
 box-shadow:0px 5px 5px -5px rgba(255, 255, 255, 0.6) inset;
}
 .closebtn {
  position: fixed;
  font-size:36px;
      z-index:3;
             }
#smallscreen{
    right:10;
    top:10;
    opacity:1;
 max-width:40px;
 
   
  }

