

.tap{
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  overflow: hidden;
  -webkit-transform: translateZ(0); 
  transform: translateZ(0);
  border-radius: inherit; 
  pointer-events: none; 
   }
.Waw{
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7); -webkit-transform: scale(0.7);
  background: rgba(255,255,255, 1);
  opacity: 0.45;
          animation: tap 1.5s forwards;
  -webkit-animation: tap 1.5s forwards;
}

@keyframes tap {
  to {transform: scale(24); opacity:0;}
}
@-webkit-keyframes tap {
  to {-webkit-transform: scale(24); opacity:0;}
}





/* MAD-COLORS */
.bg-primary-darker{background:#1976D2; color:#fff;}
.bg-primary{ background:#2196F3; color:#fff; }
.bg-primary.lighter{ background: #BBDEFB; color: rgba(0,0,0,0.82);}
.bg-accented{ background:#FF4081; color:#fff; }

/* MAD-CELL */
.cell{padding: 8px 16px; overflow:auto;}
